#aboutUs {
  text-align: center;
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
}

.circle {
  max-height: 130px;
  max-width: 130px;
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(124, 104, 16);
  border-width: 4px;
  float: left;
  margin-right: 20px;
  
}
#about-us li {
  text-align: left;
  margin: 10px;
  background-color: rgba(236, 195, 11, 0.479);
  padding: 15px;
  border-radius: 5px;
  height: 170px;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  overflow: scroll;
}

#about-us h4 {
  font-weight: bolder;
  padding-left: 10%;
  font-size: 30px;
  /* margin-bottom: 10px; */
}

#about-us p {
  padding-left: 10%;
  font-size: 14px;
}

/* #about-us li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
} */