/* Desktop Version */

/* body {
  background-color: red;
} */
header {
  background-color: black
}

#logo {
  padding-top: 10 rem;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#login {
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: 3rem;
  color: #e0bd2e;
} 

#login-form{
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: .5rem;
  width: 50%;
  color: #e6bc16; 
} 

.input-field {
  display: inline;
  width: 200px;
  margin: .8rem auto;
  border-radius: 5px;
  border: 1px black solid;
  padding: .2rem;
  float: left;
} 

#login-button {
  min-width: 80px;
  margin: inherit;
  border-radius: 5px;
  background-color: black;
  color: #e7d380;
  padding: .3rem;
  margin-top: 1rem;
}

#create-user {
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: 3rem;
  width: 50%;
  color: #e6bc16;
}

#newUser {
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: .5rem;
  width: 50%;
  color: #e6bc16; 
} 
 

  /* Mobile Version */

@media only screen and (max-width:425px ) {

#logo {
  padding-top: 10 rem;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#login {
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: .5rem;
  width: 50%;
  color: #e6bc16;
}

.input-field {
  display: inline;
  width: 200px;
  margin: .8rem auto;
  border-radius: 5px;
  border: 1px black solid;
  padding: .2rem;
  float: left;
} 

#login-button {
  min-width: 80px;
  margin: inherit;
  border-radius: 5px;
  background-color: black;
  color: #e7d380;
  padding: .3rem;
  margin-top: 5rem;
}

section#create-user {
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: 0;
  width: 50%;
}

#newUser {
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: .5rem;
  width: 50%;
  color: #e6bc16;
} 
}


@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
