

@media only screen and (max-width:425px) {

  body {
    background-image: url("/assets/blue.jpg");
  } 
  
  #search {
   font-family: 'Quicksand', sans-serif;
   font-weight: bolder;
   font-size: 1.4em;
   margin-top: 3%;
   text-align: center;
   margin-bottom: 3%;
  }
   #main-view {
    text-align: center;
  }

  #coinchoice {
   font-family:'Quicksand', sans-serif;
   font-size: 1em;
   margin-top: 3%;
  }

  .coingroup {
   display: inline-block;
   width: 65%;
   text-align: center;
   border-radius: 3px;
   margin: auto;
   vertical-align: top;
   font-family: 'Quicksand', sans-serif;
   font-weight: bold;
 }
 
   #coins {
     width: 60%;
     margin-right: 2%;
     margin-top: 5%;
     font-size: 0.5em;
     display: inline-block;
     text-align: center;
     height: 30px;
     /* margin-bottom: 7%; */
   }
   
   select {
     border: 0.1em black solid; 
     font-size: 50px;
   }

   
   
   #qtychoice {
     font-family: 'Quicksand', sans-serif;
     font-weight: bold;
     font-size: 1em;
     margin-top: 5%;
    }
   
    .qtygroup {
     display: inline-block;
     width: 65%;
     text-align: center;
     padding: 1%;
     border-radius: 3px;
     margin-left: 12%;
     margin-right: 12%;
     vertical-align: top;
     font-family: 'Quicksand', sans-serif;
     font-weight: bold;
    }
   
   input {
     border: 0.1em black solid;
     width: 10%;
     padding: 3%;
     margin: auto;
   }
   
   input[type="text"] {
      font-size:18px;
    }
    input[type="password"] {
      font-size:18px;
    }
   #quantity {
     width: 50%;
     font-size: 0.8em;
     text-align: center;
     margin-top: 3%;
     margin-right: 20%;
   }
   
   #resulttext {
     text-align: center;
     line-height: 30%;
     font-size: 1.3em;
     font-weight: bolder;
     margin-bottom: 4%;
     margin-top: 4%;
   }
   
   #data {
     width: 100%;
     margin: 10% auto;
   }
   
   #graph {
     width: 100%;
     margin: auto;
   }
   
   .btngroup button {
     display: inline-block;
     text-align: center;
     border-radius: 12px;
     font-size: 1em;
     color: #242931;
   }
   .btngroup {
      text-align: center;
   }
   
   #calculate {
     width: 34%;
     color: #e7d380;
     font-family: 'Quicksand', sans-serif;
     margin-left: 0%;
   
   }
   
   #reset {
     width: 34%;
     color: #e7d380;
     font-family: 'Quicksand', sans-serif;
     margin-left: 2%;
   }
   
   .coin-container {
     /* margin: 0 auto; */
     width: 95%;
     height: 60%;
     text-align: center;
     font-family: 'Quicksand', sans-serif;
     font-size: 1.1em;
   }
   
   hr {
     border-top: 0.2em solid #e7d380;
   }
   
   .nav {
    font-family: 'Quicksand', sans-serif;
   }
   
}

@media only screen and (min-width:426px) {
  
  body {
    background-image: url("/assets/blue.jpg");
  }

  #search {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 1.7em;
  margin: 3% 0 5% 0;
  text-align: center;
  }

  #coinchoice {
  text-align: center;
  font-family:'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  }

  .coingroup {
  /* display: inline-block; */
  /* width: 65%; */
  text-align: center;
  padding: 1%;
  border-radius: 3px;
  margin-left: 12%;
  margin-right: 12%;
  vertical-align: top;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  }

  #coins {
  /* width: 60%; */
  margin-right: 2%;
  margin-top: 2%;
  font-size: 1.3em;
  display: inline-block;
  text-align: center;
  }

  select {
  border: 0.1em black solid;
  padding: 0.5%;
  }

  #qtychoice {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  }

  .qtygroup {
  display: inline-block;
  width: 65%;
  text-align: center;
  padding: 1%;
  border-radius: 3px;
  margin-left: 12%;
  margin-right: 12%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  }

  input {
  border: 0.1em black solid;
  width: 10%;
  padding: 0.5%
  }

  #quantity {
  width: 50%;
  font-size: 1.2em;
  text-align: center;
  margin-top: 2%;
  margin-right: 18%;
  line-height: 1em;
  }

  #resulttext {
  text-align: center;
  margin: auto;
  font-size: 1.3em;
  font-weight: bolder;
  margin-bottom: 4%;
  margin-top: 10%;
  }

  #data {
  width: 100%;
  margin: 10% auto;
  }

  #graph {
  width: 100%;
  margin: auto;
  }

  .btngroup button {
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  font-size: 1.3em;
  color: #242931;
  }

  #calculate {
  /* width: 15%; */
  color: #e7d380;
  font-family: 'Quicksand', sans-serif;
  margin-left: 35%;

  }

  #reset {
  width: 15%;
  color: #e7d380;
  font-family: 'Quicksand', sans-serif;
  margin-left: 2%;
  }

  .coin-container {
  /* margin: 0 auto; */
  width: 100%;
  height: 60%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3em;
  }

  hr {
  border-top: 0.2em solid #e7d380;
  }

  .nav {
  font-family: 'Quicksand', sans-serif;
  }
}