@media only screen and (max-width:425px) {
  #welcome {
    font-family: 'Quicksand', sans-serif;
    font-size:1.6em;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top:3%;
    text-align: center;
  }

  .useracts {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .userbit {
    width: 65%;
    color: black;
    font-size: 20px;
    background-color: #e7d380;
    margin: auto;
  }

  .home-td {
    text-align: center;
    width: 50%;
  }

  .updatebtn button {
    display: inline-block;
    margin-bottom: 2%;
    text-align: center;
  }

  #update {
      display: inline-block;
      width: 34%;
      text-align: center;
      padding: .8%;
      border-radius: 12px;
      margin-left: 14%;
      margin-right: 5%;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.1em;
      font-weight: bolder;
      color: #e7d380;
      margin-top: 4%;
      background-color: black;
  }

  #update:hover {
    cursor: pointer; 
  }

  #clear {
    display: inline-block;
    width: 16%x;
    text-align: center;
    padding: .8%;
    border-radius: 12px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: bolder; 
    color: #e7d380;
    margin-top: 4%;
    margin-left: 5%;
    background-color: black;

  }
  #clear:hover {
    cursor: pointer;
  } 

  .modal-body input {
    width:80%;
    height: 30px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .modal { /*from w3schools*/
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(97, 92, 92);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content { /*from w3schools*/
    position: relative;
    text-align: center;
    background-color: #242931;
    color:#e7d380;
    margin: auto;
    padding: 10px;
    border-radius:50px;
    /* height: 400px; */
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .innerModal {
    margin-top:120px;
  }

  .close {
    float:right;
    margin-right:20px;
    margin-top:10px;
  }
  .close:hover {
    cursor:pointer;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;

  }

  label{
    display: inline-block;
    float: left;
    clear: left;
    width: 50px;
    margin-bottom: 30px ;
    text-align: right;
  }
  input {
  display: inline-block;
  float: right;
  }

  #save{ 
    margin-top: 15px;
  }

  .modal-body1 input {
    width:80%;
    height: 30px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .modal1 { /*from w3schools*/
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(97, 92, 92);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content1 { /*from w3schools*/
    position: relative;
    text-align: center;
    background-color: #242931;
    color:#e7d380;
    margin: auto;
    padding: 10px;
    border-radius:50px;
    height: 300px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .innerModal1 {
    margin-top:120px;
  }
}

@media only screen and (min-width:426px) {
  #welcome {
    font-family: 'Quicksand', sans-serif;
    font-size:1.6em;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top:3%;
    text-align: center;
  }

  .useracts {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .userbit {
    width: 65%;
    color: black;
    font-size: 20px;
    background-color: #e7d380;
    margin: auto;
  }

  .home-td {
    text-align: center;
    width: 50%;
  }
  .updatebtn{
    margin: 0 auto; 
    display: block;
  }

  .updatebtn button {
    display: inline-block;
    margin-bottom: 2%;
    text-align: center;
  }

  #update {
      display: inline-block;
      text-align: center;
      padding: .8%;
      border-radius: 12px;
      margin-left: 27%;
      margin-right: 5%;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.1em;
      font-weight: bolder;
      color: #e7d380;
      margin-top: 4%;
      background-color: black;
  }

  #update:hover {
    cursor: pointer; 
  }

  #clear {
    display: inline-block;
    width: 16%;
    text-align: center;
    padding: .8%;
    border-radius: 12px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: bolder; 
    color: #e7d380;
    margin-top: 4%;
    margin-left: 5%;
    background-color: black;

  }
  #clear:hover {
    cursor: pointer;
  } 

  .modal-body input {
    width:80%;
    height: 30px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .modal { /*from w3schools*/
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(97, 92, 92);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content { /*from w3schools*/
    position: relative;
    text-align: center;
    background-color: #242931;
    color:#e7d380;
    margin: auto;
    padding: 10px;
    border-radius:50px;
    /* height: 400px; */
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .innerModal {
    margin-top:120px;
  }

  .close {
    float:right;
    margin-right:20px;
    margin-top:10px;
  }
  .close:hover {
    cursor:pointer;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;

  }

  label{
    display: inline-block;
    float: left;
    clear: left;
    width: 50px;
    margin-bottom: 30px ;
    text-align: right;
  }
  input {
  display: inline-block;
  float: right;
  }

  #save{ 
    margin-top: 15px;
  }

  .modal-body1 input {
    width:80%;
    height: 30px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .modal1 { /*from w3schools*/
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(97, 92, 92);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content1 { /*from w3schools*/
    position: relative;
    text-align: center;
    background-color: #242931;
    color:#e7d380;
    margin: auto;
    padding: 10px;
    border-radius:50px;
    height: 300px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .innerModal1 {
    margin-top:120px;
  }
}