/* nav */
/* .navHeader {
  display:inline;
}

header {
  font-family: 'Quicksand', sans-serif;
  background-color:rgba(37, 41, 49, .96);
  /*background-color: #7b92e3; */
  height:40px;
} 

#logo {
  width: 170px;
  height: 50px;
}

.nav {
  display:inline-block;
}
.nav li {
  display:inline-block;
  margin-left:20px;
}
.nav li a{
  text-decoration: none;
  color:white;
  transition: 230ms;
  vertical-align: 20px;  
}

.nav li a:hover{
  text-decoration: underline;
  color:rgb(25, 255, 121)
}
.navHeader a:hover{
  color:rgb(25, 255, 121)
} 